@font-face {
    font-family: 'Forum';
    src: url('/fonts/Forum-Regular.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueMedium.woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(43 5 19);
    padding: 0px 0px 1px 0px;
}

.header {
    max-width: 243px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px 10px 13px;
    clip-path: ellipse(120% 100% at 50% 0%);
    margin-bottom: 16px;
}

.header__p {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 8.5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.fullname__info {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.profile_P {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}

.heading {
    max-width: clamp(300px, 90%, 317px);
    margin: 0 auto;
}

.heading_h1 {
    font-family: Forum, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: clamp(20px, 10vw, 44px);
    text-transform: uppercase;
    color: #FFFF;
    text-align: center;
    margin-bottom: 2px;
}

.heading__info {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: clamp(12px, 4vw, 16px);
    text-align: center;
    color: #FFFF;
}

.speaker__section {
    width: 100%;
}

.speaker__img_1 {
    width: 100%;
    margin-bottom: -58px;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    margin-left: -3px;
}

.btn_and_reminder {
    max-width: 301px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.registerBtn {
    width: 100%;
    background: linear-gradient(90deg, #FFE9C8 0%, #FFD9AD 27%, #FFDDB5 51%, #FFDDB5 75%, #FFCC8F 100%);
    border-radius: 100px;
    padding: 27px 50px;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(123, 1, 43, 1);
    border: 1px solid transparent;
    outline: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px rgba(182, 147, 105, 1);
    margin-bottom: 14px;
    position: relative;
    z-index: 10;
}

.registerBtn:active {
    transition: 0.3s;
    box-shadow: 0px 0px 0px 0px rgba(182, 147, 105, 1);
}

.reminder__text {
    max-width: 288px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reminder__text img {
    margin-top: -10px;
    margin-right: -5px;
}

.remider__p {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    text-align: center;
    color: #FFFF;
}

.course__sections {
    max-width: 317px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px;
}

.your_place__h1 {
    font-family: Forum, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFF;
    margin-bottom: 4px;
}

.about__card {
    max-width: 158px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about_card__p {
    margin-top: 4px;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    margin-bottom: 24px;
}

.about__speaker {
    max-width: clamp(300px, 90%, 350px);
    border-radius: 28px;
    background-color: #FFDDB5;
    margin: 0 auto;
    padding: 16px 16px 0px 16px;
    margin-bottom: 16px;
    position: relative;
}

.speaker_name {
    font-family: Forum, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: clamp(20px, 10vw, 34px);
    text-align: center;
    text-transform: uppercase;
    color: rgba(123, 1, 43, 1);
    margin-bottom: 2px;
}

.speaker_information {
    width: 313px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.speaker_informatio__P {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
}

.sp_2_img {
    margin: 0 auto;
    margin-bottom: -3px;
    display: flex;
    margin-top: 3px;
    position: relative;
    z-index: 10;
}

.sp_2_bcg {
    position: absolute;
    background-color: rgba(159, 0, 55, 0.6);
    filter: blur(60px);
    bottom: 0;
    left: 93px;
    width: 184px;
    height: 269px;
}

.homeModal,
.homeModalOverlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0;
}

.homeModal {
    z-index: 30;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeModalOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.homeFormContainer {
    position: relative;
    z-index: 30;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 20px 40px 40px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeFormTop {
    display: flex;
    justify-content: space-between;
}

.homeFormTopTitle {
    font-family: Inter, sans-serif;
    font-size: clamp(21px, 6.6vw, 24px);
    margin: 0 0 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.closeButton {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
}

.homeFormErrorText {
    color: rgb(43 5 19);
    margin-bottom: 12px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.HomeFormRowInput,
.HomeFormRowLabel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 18px;
}

.HomeFormRow {
    margin-bottom: 20px;
}

.HomeFormRowLabel {
    display: block;
    margin-bottom: 6px;
    color: #000;
}

.HomeFormRowInput {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #c9c9c9;
    min-height: 48px;
    background-color: #f3f7f8;
    border-radius: 6px;
    font-weight: 400;
    outline: 0;
    height: 50px;
    transition: border-color 0.2s;
}

.HomeFormRowInput:focus {
    border-color: rgb(43 5 19);
}

.HomeFormRowInput::placeholder {
    color: #aaa;
}

.HomeFormBtn {
    font-family: sans-serif;
    height: 60px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(43 5 19);
    transition: 0.3s;
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-input-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #c9c9c9;
    background-color: transparent;
    border-radius: 6px;
}

.phone-input-container:focus {
    border-color: rgb(43 5 19);
}

.selected-code {
    display: flex;
    margin-left: 10px;
}

.country-selector {
    position: relative;
    margin-right: 10px;
}

.selected-country {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    border-radius: 6px;
    cursor: pointer;
    min-height: 50px;
    font-family: sans-serif !important;
    font-size: 18px;
    font-weight: 400 !important;
    min-width: max-content;
    border: none;
    background-color: transparent;
}

.country-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 40;
    max-height: 200px;
    overflow-y: auto;
    font-family: sans-serif !important;
    font-weight: 400 !important;
}

.country-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400 !important;
}

.country-option:hover {
    background-color: #f3f7f8;
}

.country-option.selected {
    background-color: #e6f0fa;
}

@media screen and (max-width: 768px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        max-width: 408px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .homeFormTop {
        flex-direction: column;
        align-items: flex-start;
    }

    .closeButton {
        width: 100%;
        height: 50px;
        background-color: #000;
        color: #fff;
        padding-right: 20px;
        top: 0;
        left: 0;
        justify-content: end;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 18px;
        font-weight: 700;
        margin-top: 24px;
    }
}

@media screen and (max-width: 480px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100vh;
    }

    .homeFormTopTitle {
        text-align: center;
        margin: 0 auto 15px;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        padding: 0 12px;
        min-height: 40px;
        background-color: transparent;
        border-radius: 10px;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .HomeFormBtn {
        font-size: 16px;
        padding: 10px 0;
        margin-top: 24px;
        height: 50px;
    }
}